VPrint2/MerchantSite/Service References/FileServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="FileInfo2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryId" type="xs:int" />
  <xs:element name="VoucherId" type="xs:int" />
  <xs:element name="s1" nillable="true" type="xs:string" />
  <xs:element name="s2" nillable="true" type="xs:string" />
  <xs:element name="FileMessage2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileInfo5">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Filename" nillable="true" type="xs:string" />
  <xs:element name="RetailerId" type="xs:int" />
  <xs:element name="SessionId" nillable="true" type="xs:string" />
  <xs:element name="FileMessage5">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="FileByteStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>