VPrint2/MerchantSite/Service References/DataServiceRef/MerchantService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MerchantService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MerchantService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Datatable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Datatable" nillable="true" type="tns:Datatable" />
  <xs:complexType name="SelectVoucherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="branch_id" type="xs:int" />
      <xs:element minOccurs="0" name="iso_id" type="xs:int" />
      <xs:element minOccurs="0" name="location" type="xs:int" />
      <xs:element minOccurs="0" name="session_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sitecode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectVoucherInfo" nillable="true" type="tns:SelectVoucherInfo" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="us_active" type="xs:boolean" />
      <xs:element minOccurs="0" name="us_br_id" type="xs:int" />
      <xs:element minOccurs="0" name="us_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="us_first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="us_gp_id" type="xs:int" />
      <xs:element minOccurs="0" name="us_id" type="xs:int" />
      <xs:element minOccurs="0" name="us_iso_id" type="xs:int" />
      <xs:element minOccurs="0" name="us_last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="us_login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="us_password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="us_salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfRightInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RightInfo" nillable="true" type="tns:RightInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRightInfo" nillable="true" type="tns:ArrayOfRightInfo" />
  <xs:complexType name="RightInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="r_active" type="xs:boolean" />
      <xs:element minOccurs="0" name="r_br_id" type="xs:int" />
      <xs:element minOccurs="0" name="r_granted_by" type="xs:int" />
      <xs:element minOccurs="0" name="r_granthed_at" type="xs:dateTime" />
      <xs:element minOccurs="0" name="r_ho_id" type="xs:int" />
      <xs:element minOccurs="0" name="r_ho_iso_id" type="xs:int" />
      <xs:element minOccurs="0" name="r_id" type="xs:int" />
      <xs:element minOccurs="0" name="r_us_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RightInfo" nillable="true" type="tns:RightInfo" />
</xs:schema>