VScan/PTFLib/Service References/DataServiceProxy/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReceivingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReceivingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="ArrayOfCountryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryData" nillable="true" type="tns:CountryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryData" nillable="true" type="tns:ArrayOfCountryData" />
  <xs:complexType name="CountryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryData" nillable="true" type="tns:CountryData" />
  <xs:complexType name="VoucherData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BarCodeImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RetailerID" type="xs:int" />
      <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherImage" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherData" nillable="true" type="tns:VoucherData" />
  <xs:complexType name="ArrayOfMessageData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageData" nillable="true" type="tns:MessageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageData" nillable="true" type="tns:ArrayOfMessageData" />
  <xs:complexType name="MessageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageData" nillable="true" type="tns:MessageData" />
</xs:schema>