VPrint2/FintraxPTFImages/Service References/ScanServiceRef/ScanService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.53.143/ReceivingServiceWeb/ScanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReceivingServiceLib" />
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="retailerId" type="xs:int" />
        <xs:element minOccurs="0" name="voucherId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="retailerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReceivingServiceLib" minOccurs="0" name="ReadDataResult" nillable="true" type="q1:ArrayOfVoucherInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadVoucherInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="copyToFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadVoucherInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReceivingServiceLib" minOccurs="0" name="ReadVoucherInfoResult" nillable="true" type="q2:VoucherInfo2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverDirName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobId" type="xs:int" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="retailerId" type="xs:int" />
        <xs:element minOccurs="0" name="voucherId" type="xs:int" />
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="barCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>