VPrint2/FintraxPTFImages/Service References/ScanServiceRef/ScanService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReceivingServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReceivingServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVoucherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VoucherInfo" nillable="true" type="tns:VoucherInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoucherInfo" nillable="true" type="tns:ArrayOfVoucherInfo" />
  <xs:complexType name="VoucherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="OperatorId" type="xs:int" />
      <xs:element minOccurs="0" name="ScanDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherInfo" nillable="true" type="tns:VoucherInfo" />
  <xs:complexType name="VoucherInfo2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsoId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetailerId" type="xs:int" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherInfo2" nillable="true" type="tns:VoucherInfo2" />
</xs:schema>