VPrint2/FintraxPTFImages/Service References/ScanServiceRef/ScanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.53.143/ReceivingServiceWeb/ScanService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.53.143/ReceivingServiceWeb/ScanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.53.143/ReceivingServiceWeb/ScanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReceivingServiceLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScanService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IScanService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IScanService_ReadData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadData" />
  </wsdl:message>
  <wsdl:message name="IScanService_ReadData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadDataResponse" />
  </wsdl:message>
  <wsdl:message name="IScanService_ReadVoucherInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadVoucherInfo" />
  </wsdl:message>
  <wsdl:message name="IScanService_ReadVoucherInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadVoucherInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IScanService_SaveData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:message name="IScanService_SaveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IScanService_CommitChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitChanges" />
  </wsdl:message>
  <wsdl:portType name="IScanService">
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanService/Delete" message="tns:IScanService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanService/DeleteResponse" message="tns:IScanService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadData">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanService/ReadData" message="tns:IScanService_ReadData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanService/ReadDataResponse" message="tns:IScanService_ReadData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadVoucherInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanService/ReadVoucherInfo" message="tns:IScanService_ReadVoucherInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanService/ReadVoucherInfoResponse" message="tns:IScanService_ReadVoucherInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanService/SaveData" message="tns:IScanService_SaveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanService/SaveDataResponse" message="tns:IScanService_SaveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanService/CommitChanges" message="tns:IScanService_CommitChanges_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScanService" type="tns:IScanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IScanService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadData">
      <soap:operation soapAction="http://tempuri.org/IScanService/ReadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadVoucherInfo">
      <soap:operation soapAction="http://tempuri.org/IScanService/ReadVoucherInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveData">
      <soap:operation soapAction="http://tempuri.org/IScanService/SaveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitChanges">
      <soap:operation soapAction="http://tempuri.org/IScanService/CommitChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScanService">
    <wsdl:port name="BasicHttpBinding_IScanService" binding="tns:BasicHttpBinding_IScanService">
      <soap:address location="http://192.168.53.143/ReceivingServiceWeb/ScanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>